body {
    color: white;
}
h1 {
    font-size: 1.45rem;
}


#build-menu {
    position: absolute;
    align-self: flex-start;
    top: 15px;
}
#next-round {
    position: absolute;
    align-self: flex-end;
    bottom: 15px;
}

#tile-menu {
    position: absolute;
    background-color: var(--light-navy-blue);
    opacity: .975;
    height: 50%;
    width: 75%;
    z-index: 200;
}
#close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: red;
    color: #fff;
    width: 24px;
    height: 24px;

}


.game-wrapper {
    width: 300px;
    height: 540px;
    /* width: 90vw;     REENABLE AFTER STYLING MOBILE DESIGN!?
    height: 83vh; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}

.btn {
    font-size: .9rem;
    height: fit-content;
    padding: 8%;
}


.home_planet {
    background: url("../assets/Planet/1.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 65%;
    width: 65%;
    margin: 10px;
    z-index: 175;
}
