body {
    color: white;
}


#build-menu {
    position: absolute;
    align-self: flex-start;
    top: 15px;
}
#next-round {
    position: absolute;
    align-self: flex-end;
    bottom: 15px;
}


.game-wrapper {
    height: 800px;
    width: 1100px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}

