

<div class="grid centered bordered" id="game_field">
    <div id="1" class="hex color1">

    </div>
    <div id="2" class="hex color2">

    </div>
    <div id="3" class="hex color1">

    </div>
    <div id="4" class="hex color1">

    </div>
    <div id="5" class="hex color1">

    </div>
    <div id="6" class="hex color1">

    </div>
    <div id="7" class="hex color1">

    </div>
    <div id="8" class="hex color1">

    </div>
    <div id="9" class="hex color1">

    </div>
    <div id="10" class="hex color1">

    </div>
    <div id="11" class="hex color1">

    </div>
    <div id="12" class="hex color3">

    </div>
</div>
