<!-- MAIN-MENU -->
<div class="custom-wrapper">
    <form>

        <div>
            <button class="menu-btn" [routerLink]="['/game']">Start</button>
        </div>

        <!-- <div>
            <button class="menu-btn" id="profile">Profil</button>
        </div>

        <div>
            <button class="menu-btn" id="settings">Einstellungen</button>
        </div> -->

        <!-- {% if session.is_admin %}     -->
            <div>
                <button class="menu-btn" id="admin-panel">Admin-Bereich</button>
            </div>
        <!-- {% endif %} -->
        
    </form>
</div>