{% extends "base.html" %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin_panel.css') }}">
{% endblock %}


{% block content %}
    <!-- ADMIN-PANEL -->

    <div class="wrapper">
        <h1>Admin-Bereich</h1>

        <form class="centered bordered">
            <h2>Sprites</h2>
            <div class="small-input-box">
                <label for="sprite-file">Sprite:</label>
                <input type="file" accept="image/png, image/jpeg" id="sprite-file">
                <button class="btn-small" id="sprite-upload">Hochladen</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='script/admin_panel.js') }}" defer></script>
{% endblock %}
