<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternal Galaxy Conquest</title>

    <!-- ### STYLESHEETS ### -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    
    <!-- ### NAVBAR ### -->
    <nav>

        <!-- DESKTOP -->
        <div class="desktop-nav">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Das Logo der Webseite.">

            <ul>
                <li><a href="/">Startseite</a></li>
            </ul>
        </div>

        <!-- MOBILE -->
        <div class="mobile-nav">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Das Logo der Webseite.">
            
            <div class="mobile-nav-dropdown clearfix">
                <div class="mobile-nav-button">&equiv;</div>
    
                <div class="mobile-nav-content clearfix">
                    <ul>
                        <li><a href="/">Startseite</a></li>
                    </ul> 
                </div>
            </div>
        </div>
        
    </nav>


    <!-- ### MAIN CONTAINER ### -->
    {% block content %}
    {% endblock %}


    <!-- ### SCRIPTS ### -->
    <script src="{{ url_for('static', filename='script/general.js') }}" defer></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>