{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/egc.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/honeycomb.css') }}">
<script>
    const username = "{{ session.username }}"
</script>
{% endblock %}


{% block content %}
    <!-- GAME -->

     <div class="game-wrapper centered">
        <!-- <div id="build-menu">
            <button class="btn">Baumenü</button>
        </div> -->

        <div class="header centered">
            <h1>Eternal Galaxy Conquest</h1>
            <h2 id="welcome-msg"></h2>
        </div>


        <div class="grid centered bordered" id="game_field">
        </div>
        
        <button class="btn-small" id="next-round">Fertig!</button>
     </div>

{% endblock %}


{% block scripts %}
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> <!-- Include the Socket.IO client -->
<script type="module" src="{{ url_for('static', filename='script/egc.js') }}" defer></script>
{% endblock %}