{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/game.css') }}">
{% endblock %}


{% block content %}
<!-- GAME -->

<h1>Welcome to the Game!</h1>
<div id="gameState"></div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='script/game.js') }}" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> <!-- Include the Socket.IO client -->
<script src="{{ url_for('static', filename='script/socket.js') }}" defer></script>
{% endblock %}