{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/game.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/honeycomb.css') }}">
<script>
    const username = "{{ session.username }}"
</script>
{% endblock %}


{% block content %}
    <!-- GAME -->

    <!-- <div class="wrapper">
        <h1>Eternal Galaxy Conquest</h1>
        <h2 id="welcome-msg"></h2>
        <div id="gameState"></div>
    </div> -->


    <!-- ### TESTING ### -->
     <div class="game-wrapper centered">
        <div class="grid bordered">
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color2"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color3"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
            <div class="hex color1"></div>
        </div>
     </div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='script/game.js') }}" defer></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> <!-- Include the Socket.IO client -->
<script src="{{ url_for('static', filename='script/socket.js') }}" defer></script>
{% endblock %}